@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
    /* Fonts */
    --font-display: "prumo-text-book", "serif";

    /* Breakpoints */
    --breakpoint-3xl: 120rem;

    /* Custom Colors (your palette) */
    --color-brand-primary-yellow: #DCA44F;
    --color-brand-primary-dark: #DCA44F;
    --color-brand-secondary: #f59e0b;
    --color-brand-secondary-dark: #d97706;
    --color-brand-background: #fefce8;
    --color-brand-surface: #ffffff;
    --color-brand-text: #1f2937;
    --color-brand-text-muted: #6b7280;
}
